@import "tailwindcss";

.slider-button{
  background: #ffffff25;
  font-size: 2rem;
  transition: .5s;
}

.slider-button:hover {
  background: rgba(255, 255, 255, 0.795) ;
  font-size: 2rem;
}

 .scrollBar::-webkit-scrollbar {
  display: none;
} 

